<mat-card>
    <div class="grid mb-5">
        <div class="col-12">
            <mat-toolbar color="primary">
                <span *ngIf="!isEditMode">Ajouter un utilisateur</span>
                <span *ngIf="isEditMode">Editer un utilisateur</span>
                <span class="button-spacer"></span>
                <button mat-raised-button *ngIf="isEditMode" color="accent" class="form-button" aria-label="Edit user" (click)="onSubmit()">
                    Modifier <mat-icon>update</mat-icon>
                </button>
                <button mat-raised-button *ngIf="!isEditMode" color="accent" class="form-button" aria-label="Add user" (click)="onSubmit()">
                    Créer<mat-icon>plus_one</mat-icon> 
                </button>
                <button mat-raised-button color="accent" class="form-button" aria-label="Go back" (click)="onCancel()">
                    <mat-icon>undo</mat-icon>
                </button>
              </mat-toolbar>
        </div>
    </div>
</mat-card>
<div class="container text-center grid mb-5">
    <div class="col-12">
        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput type="text" formControlName="firstName" name="firstName" placeholder="Ex. Alain" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput type="text" formControlName="lastName" name="lastName" placeholder="Ex. Dupont" required>
            </mat-form-field>
            <mat-form-field *ngIf="isAdmin" appearance="fill">
                <mat-label>Rôle</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" name="email" placeholder="Ex. alain.dupont@mail.com" required>
            </mat-form-field>
            <div *ngIf="!isEditMode">
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password" name="password" required>
                </mat-form-field>
            </div>
            <!-- File Input -->
            <div class="d-flex">
                <mat-label class="label-input-file">Avatar * :</mat-label>
                <input type="file" name="icon" class="file-input" (change)="uploadFile($event)" #fileUpload>
                <div class="file-upload">
                    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
                <!-- Image Preview -->
                <div class="preview ms-4" *ngIf="preview && preview !== null">
                    <img [src]="preview" [alt]="form.value.name">
                </div>      
            </div>
             <!-- Progress Bar -->
             <div class="progress form-group mt-3" *ngIf="percentDone">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width.%]="percentDone">
                </div>
            </div>
        </form>
    </div>
</div>