<h2 class="inner-tittle">Zone messages <button routerLink="/zone6-ajout" class="btn btn-warning">Ajouter</button></h2>
<div class="graph-form">
    <div class="form-body">


        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th style="width: 120px;"></th>
                    <th>Titre</th>


                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a routerLink="/zone6-modif">Modif.</a> | <a routerLink="">Supp.</a></td>
                    <td>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <!--//tabs-inner-->
</div>
<!--//outer-wp-->
