<h3 class="inner-tittle">Ajouter une catégorie de news</h3>
<div class="graph-form">

    <form method="post" action="" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre" value="" required>
            </div>


            <h4 style="padding-top: 40px;">PUBLIER</h4>


            <div class="form-group">
                <label for="publier" style="float:left;width:200px!important;">Publier la catégorie</label>
                <select id="publier" name="publier" required>
                    <option value="" selected>--</option>

                    <option value="0">Non</option>

                    <option value="1">OUI</option>

                </select>
            </div>

        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="id" value="" />
        <input type="hidden" name="MM_update2" value="form1" />
        <button type="submit" class="btn btn-default">Ajouter</button>
    </form>
    <button routerLink="/catBlog" class="btn btn-warning">Retour à la liste</button>

</div>