.icon-link {
    cursor: pointer;
}

.table-users {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
 }
 
table {
    width: 100%;
}

.buttonAdd {
    margin-bottom: 2rem;
}

tr:hover, .nobg:hover {
    background-color: #d3d3d3;
}

th:hover {
    background-color: #ffffff;
}

