<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top fixed-bottom">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Oslab Technologies. All Rights Reserved</span>
      </div>

    </footer>
  </div>
