<div class="page-container">
    <!--/content-inner-->
   <div class="left-content">
      <div class="inner-content">
     <!-- header-starts -->
       <div class="header-section">
             <!--menu-right-->
             <div class="top_menu">
                    
               <!--/profile_details-->
     
               <div class="clearfix"></div>  
               <!--//profile_details-->
             </div>
             <!--//menu-right-->
           <div class="clearfix"></div>
         </div>
           <!-- //header-ends -->
             <div class="outter-wp">
               
                       <!--/sub-heard-part-->  
                     <!--/tabs-->
                      <div class="tab-main">
                        <!--/tabs-inner-->
                         <div class="tab-inner">
                               <div id="tabs" class="tabs">
                             
                                       <h2 class="inner-tittle">Zone annonceurs bannières <button routerLink="/zone2-ajout" class="btn btn-warning">Ajouter</button></h2>
                               <div class="graph-form">
                                   <div class="form-body">

                                   <table id="myTable" class="tablesorter"> 
                                   <thead> 
                                   <tr> 
                                    <th style="width: 120px;"></th>
                                     <th>Titre</th> 
                                     
                                   </tr> 
                                   </thead> 
                                   <tbody> 

                                   <tr> 
                                     <td><a routerLink="/zone2-modif">Modif.</a> | <a routerLink="">Supp.</a></td>
                                     <td>
                                     <span><i class="fa fa-times-circle" style="color: red"></i> Non Publié </span>
                                     <span><i class="fa fa-check-circle" style="color: green"></i> Publié </span> 
                                     <span><i class="fa fa-times-circle" style="color: red"></i> Date de publication dépassée </span> 
                                    
 
                                   </tr> 
                                   
 
                                   </tbody> 
                                   </table> 
                                  
                                    
                                       
                                   
 
                               </div>
                         <!--//tabs-inner-->
                      </div> 
                     <!--//outer-wp-->
                   </div>
