<h2 class="inner-tittle">Zone clients <button routerLink="/clientsAjout" class="btn btn-warning">Ajouter</button></h2>
<div class="graph-form">
    <div class="form-body">


        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th style="width: 120px;"></th>
                    <th>Titre</th>


                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a routerLink="/clientsModif">Modif.</a> | <a routerLink="">Supp.</a></td>

                </tr>

            </tbody>
        </table>

    </div>
</div>