*{
    margin: 0 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

h3{
    font-size: 1.2rem;
    border-bottom: 0.05rem solid black;
    margin-top: 1.5rem;
}

