<h3 class="inner-tittle">Ajouter une catégorie</h3>
<div class="graph-form">

    <form method="post" action="" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre" value="" required>
            </div>


            <div class="form-group">
                <label for="couleur1">Couleur 1</label>
                <input type="color" class="form-control" id="couleur1" name="couleur1" placeholder="#------" value=""
                    required>
            </div>

            <div class="form-group">
                <label for="couleur1">Couleur 2</label>
                <input type="color" class="form-control" id="couleur2" name="couleur2" placeholder="#------" value=""
                    required>
            </div>

            <div class="form-group">
                <label for="couleur3">Couleur 3</label>
                <input type="color" class="form-control" id="couleur3" name="couleur3" placeholder="#------" value=""
                    required>
            </div>

        </div>
        <div class="col-md-6">


            <div class="form-group">
                <label for="Logo">Illustration</label>
                <input type="file" id="Logo" name="fichier" accept="image/*">

            </div>


        </div>

        <h4 style="padding-top: 40px;">PUBLIER</h4>


        <div class="form-group">
            <label for="publier" style="float:left;width:200px!important;">Publier la catégorie</label>
            <select id="publier" name="publier">
                <option value="">--</option>

                <option value="0">Non</option>

                <option value="1">OUI</option>

            </select>
        </div>


<div class="clearfix"></div>
<input type="hidden" name="id" value="" />
<input type="hidden" name="MM_update2" value="form1" />
<button type="submit" class="btn btn-default">Ajouter</button> </form>
<button routerLink="/categories" class="btn btn-warning">Retour à la liste</button>

</div>