<h2 class="inner-tittle">Zone Commentaires</h2>
<div class="graph-form">
    <div class="form-body">


        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th style="width: 120px;"></th>
                    <th>Titre</th>


                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a routerLink="/commentairesModif">Modif.</a> | <a href="">Supp.</a></td>

                </tr>

            </tbody>
        </table>

    </div>

</div>