<mat-card>
    <div class="grid mb-5">
        <div class="col-12">
            <mat-toolbar color="primary">
                <span *ngIf="!isEditMode">Ajouter un marqueur</span>
                <span *ngIf="isEditMode">Editer un marqueur</span>
                <span class="button-spacer"></span>
                <button mat-raised-button *ngIf="isEditMode" color="accent" class="form-button" aria-label="Edit user" (click)="onSubmit()">
                    Modifier <mat-icon>update</mat-icon>
                </button>
                <button mat-raised-button *ngIf="!isEditMode" color="accent" class="form-button" aria-label="Add user" (click)="onSubmit()">
                    Créer<mat-icon>plus_one</mat-icon> 
                </button>
                <button mat-raised-button color="accent" class="form-button" aria-label="Go back" (click)="onCancel()">
                    <mat-icon>undo</mat-icon>
                </button>            </mat-toolbar>
        </div>
    </div>
</mat-card>
<div class="container grid mb-5">
    <div class="col-12">
        <form class="form">
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput type="text" name="name" formControlName="name" placeholder="Ex: La Boulangerie Michel" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Coordonnées</mat-label>
                <input matInput type="text" name="coordonates" formControlName="coordonates" placeholder="Ex. 14.13215431, 1.151215135" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Catégorie</mat-label>
                <mat-select name="category" required>
                  <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </form>
    </div>
</div>