<div class="graph-form">

    <form method="post" action="" enctype="multipart/form-data">
    <div class="col-md-6">
    
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre" placeholder="10 caractères max" value="" maxlength="100" required>
            </div>

        <div class="form-group">
            <label for="typeSlider">Type Slide</label>
            <select id="typeSlider" name="typeSlider">
                <option value="1" selected>Type 1</option>
                <option value="2">Type 2</option>
                <option value="3">Type 3</option>
                <option value="4">Type 4</option>
                <option value="5">Type 5</option>
            </select>
        </div>
        <h4> Textes Slide</h4>
        <div class="type1">
            <div class="form-group line1">
                <label for="ligne1-type1">Line 1</label>
                <input type="text" class="form-control" id="ligne1-type1" name="ligne1-type1" placeholder="13 caractères max" value="" maxlength="13">

            </div>
            <div class="form-group line2">
                <label for="ligne2-type1">Line 2</label>
                <input type="text" class="form-control" id="ligne2-type1" name="ligne2-type1" placeholder="10 caractères max" value="" maxlength="10">

            </div>

            <div class="form-group line3">
                <label for="ligne3-type1">Line 3</label>
                <input type="text" class="form-control" id="ligne3-type1" name="ligne3-type1" placeholder="27 caractères max" value="" maxlength="27">

            </div>

            <div class="form-group line4">
                <label for="line4-type1">Line 4</label>
                <input type="text" class="form-control" id="line4-type1" name="line4-type1" placeholder="28 caractères max" value="" maxlength="28">

            </div>

            <div class="form-group line5">
                <label for="line5-type1">Line 5</label>
                <input type="text" class="form-control" id="line5-type1" name="line5-type1" placeholder="31 caractères max" value="" maxlength="31">
            </div>
        </div>
        <div class="type2">
            <div class="form-group line1">
                <label for="ligne1-type2">Line 1</label>
                <input type="text" class="form-control" id="ligne1-type2" name="ligne1-type2" placeholder="9 caractères max" value="" maxlength="9">

            </div>
            <div class="form-group line2">
                <label for="ligne2-type2">Line 2</label>
                <input type="text" class="form-control" id="ligne2-type2" name="ligne2-type2" placeholder="11 caractères max" value="" maxlength="11">

            </div>

            <div class="form-group line3">
                <label for="ligne3-type2">Line 3</label>
                <input type="text" class="form-control" id="ligne3-type2" name="ligne3-type2" placeholder="20 caractères max" value="" maxlength="20">

            </div>

            <div class="form-group">
                <label for="line4-type2">Line 4</label>
                <input type="text" class="form-control" id="line4-type2" name="line4-type2" placeholder="35 caractères max" value="" maxlength="35">
            </div>
        </div>
        <div class="type3">
            <div class="form-group line1">
                <label for="ligne1-type3">Line 1</label>
                <input type="text" class="form-control" id="ligne1-type3" name="ligne1-type3" placeholder="13 caractères max" value="" maxlength="13">

            </div>
            <div class="form-group line2">
                <label for="ligne2-type3">Line 2</label>
                <input type="text" class="form-control" id="ligne2-type3" name="ligne2-type3" placeholder="13 caractères max" value="" maxlength="13">

            </div>

            <div class="form-group line3">
                <label for="ligne3-type3">Line 3</label>
                <input type="text" class="form-control" id="ligne3-type3" name="ligne3-type3" placeholder="30 caractères max" value="" maxlength="30">

            </div>


        </div>
        <div class="type4">
            <div class="form-group line1">
                <label for="ligne1-type4">Line 1</label>
                <input type="text" class="form-control" id="ligne1-type4" name="ligne1-type4" placeholder="12 caractères max" value="" maxlength="12">

            </div>
            <div class="form-group line2">
                <label for="ligne2-type4">Line 2</label>
                <input type="text" class="form-control" id="ligne2-type4" name="ligne2-type4" placeholder="12 caractères max" value="" maxlength="12">

            </div>

            <div class="form-group line3">
                <label for="ligne3-type4">Line 3</label>
                <input type="text" class="form-control" id="ligne3-type4" name="ligne3-type4" placeholder="32 caractères max" value="" maxlength="32">

            </div>


        </div>
        <div class="type5">
            <div class="form-group line1">
                <label for="ligne1-type5">Line 1</label>
                <input type="text" class="form-control" id="ligne1-type5" name="ligne1-type5" placeholder="13 caractères max" value="" maxlength="13">

            </div>
            <div class="form-group line2">
                <label for="ligne2-type5">Line 2</label>
                <input type="text" class="form-control" id="ligne2-type5" name="ligne2-type5" placeholder="10 caractères max" value="" maxlength="10">

            </div>

            <div class="form-group line3">
                <label for="ligne3-type5">Line 3</label>
                <input type="text" class="form-control" id="ligne3-type5" name="ligne3-type5" placeholder="26 caractères max" value="" maxlength="26">

            </div>


        </div>
        <h4> Bouton</h4>
        <div class="bouton-type1">
            <div class="form-group">
                <label for="button-type1">Texte Bouton</label>
                <input type="text" class="form-control" id="button-type1" name="button-type1" placeholder="20 caractères max" value="" maxlength="20">

            </div>
        </div>
        <div class="bouton-type2">
            <div class="form-group">
                <label for="button-type2">Texte Bouton</label>
                <input type="text" class="form-control" id="button-type2" name="button-type2" placeholder="20 caractères max" value="" maxlength="20">

            </div>
        </div>
        <div class="bouton-type3">
            <div class="form-group">
                <label for="button-type3">Texte Bouton</label>
                <input type="text" class="form-control" id="button-type3" name="button-type3" placeholder="20 caractères max" value="" maxlength="20">

            </div>
        </div>
        <div class="bouton-type4">
            <div class="form-group">
                <label for="button-type4">Texte Bouton</label>
                <input type="text" class="form-control" id="button-type4" name="button-type4" placeholder="20 caractères max" value="" maxlength="20">

            </div>
        </div>
        <div class="bouton-type5">
            <div class="form-group">
                <label for="button-type3">Texte Bouton</label>
                <input type="text" class="form-control" id="button-type5" name="button-type5" placeholder="20 caractères max" value="" maxlength="20">

            </div>
        </div>
        <div class="form-group">
            <label for="lien">Lien Bouton</label>
            <input type="text" class="form-control" id="lien" name="lien" placeholder="https://..." value="">

        </div>

    </div>
    <div class="col-md-6">


        <div class="form-group">
            <label for="Logo">Illustration</label>
            <input type="file" id="Logo" name="fichier" accept="image/*">
            
        </div>

        <h4>Dates Publication</h4>
        <div class="form-group">Date Début de publication
            <div class='input-group date'>

                <input type='date' class="form-control" value="" id='dateDebut' name='dateDebut' />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">Date Fin de publication
            <div class='input-group date'>

                <input type='date' class="form-control" value="" id='dateFin' name='dateFin' />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <h4 style="padding-top: 40px;">PUBLIER</h4>


        <div class="form-group">
            <label for="publier" style="float:left;width:200px!important;">Publier le slide</label>
            <select id="publier" name="publier">
                <option value="" selected>--</option>

                <option value="0">Non</option>

                <option value="1">OUI</option>

            </select>
        </div>



    </div>
        <div class="clearfix"></div>
        <input type="hidden" name="id" value="" />
        <input type="hidden" name="MM_update2" value="form2" />
        <button type="submit" mat-raised-button color="primary">Ajouter</button>
    </form>
    <button routerLink="/zone1" class="btn btn-warning">Retour à la liste</button>

</div>