<h2 class="inner-tittle">Zone partenaires <button routerLink="/partenairesAjout" class="btn btn-warning">Ajouter</button>
</h2>
<div class="graph-form">
    <div class="form-body">


        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th style="width: 120px;"></th>
                    <th>Titre</th>


                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a routerLink="/partenairesModif">Modif.</a> | <a routerLink="">Supp.</a><br>

                        <a href="">Modif. Fiche</a>

                        <span><i class="fa fa-times-circle" style="color: red"></i> Non Publié </span>

                        <span><i class="fa fa-check-circle" style="color: green"></i> Publié </span>



                        <a href="">Add. Fiche</a>

                    </td>

                    <td>

                        <span><i class="fa fa-times-circle" style="color: red"></i> Non Publié </span>
                        <span><i class="fa fa-times-circle" style="color: green"></i> Publié </span>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>