<h2 class="inner-tittle">Envoyer newsletter</h2>
<div class="graph-form">
    <div class="form-body">

        <br><br>
        <form method="post" action="" enctype="multipart/form-data">

            <div class="col-md-6">

                <div class="form-group">
                    <label for="user">Groupe</label>
                    <select class="form-control" id="user" name="user" style="padding: 0px 12px">
                        <option value="0" selected>Tous</option>
                        <option value="1">Annonceurs</option>
                        <option value="2">Clients</option>
                        <option value="3">Inscrits newsletter</option>
                        <option value="4">Partenaires</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="newsletter">Newsletter liée</label>
   
                </div>

            </div>

            <div class="clearfix"></div>

            <input type="hidden" name="MM_update" value="form1" />
            <button type="submit" class="btn btn-default">Envoyer</button>
        </form>
    </div>

</div>
