<h3 class="inner-tittle">Modifier un produit</h3>
<div class="graph-form">

    <form method="post" action="" enctype="multipart/form-data">


        <div class="col-md-6">

            <div class="form-group">
                <label for="titre">Nom du produit</label>
                <input type="text" class="form-control" id="titre" name="titre" placeholder="Nom du produit"
                    value="" required>
            </div>

            <div class="form-group">
                <label for="reference">Référence du produit</label>
                <input type="text" class="form-control" id="reference" name="reference"
                    placeholder="Référence du produit" value="" required>
            </div>


            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                    placeholder="Texte description" required></textarea>
            </div>

            <div class="form-group">
                <label for="infosAdd">Infos additionel</label>
                <textarea class="form-control" id="infosAdd" name="infosAdd" placeholder="Infos additionel"
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="cat_id" style="float:left;width:200px!important;">Categorie et gamme liée</label>
                <select id="cat_id" name="cat_id">
                    <option value="">-- Selectionner une catégorie --</option>

                </select>

                <select id="g_id" name="g_id">
                    <option value="">-- Selectionner une gamme --</option>

                </select>



            </div>

            <div class="form-group">
                <label for="membre_id" style="float:left;width:200px!important;">Sélectionner un membre
                    associé</label>
                <select id="membre_id" name="membre_id">
                    <option value="">-- Selectionner une Entreprise --</option>

                </select>
            </div>

            <div class="form-group">
                <label for="prix">Prix départ</label>
                <input type="number" step="any" class="form-control" id="prix" name="prix" min="0"
                    placeholder="Prix en Euros" value="" required>
            </div>



            <div class="form-group">
                <label for="TVA">TVA</label>
                <input type="number" step="any" class="form-control" id="TVA" name="TVA" placeholder="TVA" min="0"
                    value="" required>
            </div>

            <h4>Dates Publication</h4>
            <div class="form-group">Date Début de publication
                <div class='input-group date'>

                    <input type='date' class="form-control" value="" id='dateDebut' name='dateDebut' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">Date Fin de publication
                <div class='input-group date'>

                    <input type='date' class="form-control" value="" id='dateFin' name='dateFin' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>


        <div class="col-md-6">

            <div class="form-group">
                <label for="illu1">Illustration 1</label>
                <input type="file" id="illu1" name="fichier" accept="image/*">

                <a href="javascript:void(0);" onclick='return false;' class="info"><img src="" alt=""
                        width="70%" style="margin:10px 0px;" /></a>

            </div>

            <div class="form-group">
                <label for="illu2">Illustration 2</label>
                <input type="file" id="illu2" name="fichier2" accept="image/*">

                <a href="javascript:void(0);" onclick='return false;' class="info"><img src="" alt=""
                        width="70%" style="margin:10px 0px;" /></a>

            </div>

            <div class="form-group">
                <label for="illu3">Illustration 3</label>
                <input type="file" id="illu3" name="fichier3" accept="image/*">

                <a href="javascript:void(0);" onclick='return false;' class="info"><img src="" alt=""
                        width="70%" style="margin:10px 0px;" /></a>

            </div>

            <div class="form-group">
                <label for="illu4">Illustration 4</label>
                <input type="file" id="illu4" name="fichier4" accept="image/*">

                <a href="javascript:void(0);" onclick='return false;' class="info"><img src="" alt=""
                        width="70%" style="margin:10px 0px;" /></a>

            </div>

            <div class="form-group">
                <label for="illu5">Illustration 5</label>
                <input type="file" id="illu5" name="fichier5" accept="image/*">

                <a href="javascript:void(0);" onclick='return false;' class="info"><img src="" alt=""
                        width="70%" style="margin:10px 0px;" /></a>

            </div>


        </div>

        <div class="form-group">
            <label for="publier" style="float:left;width:200px!important;">Publier le produit</label>
            <select id="publier" name="publier"></select>

        </div>


        <div class="clearfix"></div>
        <input type="hidden" name="id" value="" />
        <input type="hidden" name="MM_update" value="form1" />
        <button type="submit" class="btn btn-default">Valider les modifications</button>
        <button routerlink="/produits" class="btn btn-warning">Retour à la liste</button>

    </form>
</div>
